body {
    height: 2000px;
}

a {
    text-decoration: none;
    color: black;
}

#putdiv {
    height: 18px;
}

#putsoli li {
    list-style: none;
}

#putsoli a {
    text-decoration: none;
}


/*center部分*/

.center {
    width: 1200px;
    height: 1800px;
    margin: 0px auto;
}

.mold {
    width: 1200px;
    height: 300px;
    border: 1px solid white;
    background: #f7f7f7;
}

.works {
    width: 1200px;
    height: 1500px;
}

.number {
    width: 1200px;
    height: 200px;
}


/*mold 类型头部部分*/

.mold div {
    float: left;
    margin-top: 1px;
}

.mold div:nth-child(2n-1) {
    color: lightslategrey;
    margin-left: 20px;
    width: 103px;
    height: 45px;
}

.mold div:nth-child(2n) {
    width: 1000px;
    height: 45px;
    margin: 0px 20px;
    border: 1px solid #f7f7f7;
}

.mold div:nth-child(2n) a:nth-child(1) {
    background: #d32f2f;
    color: white;
}

.mold div:nth-child(1),
.mold div:nth-child(2) {
    margin-top: 10px;
}

.mold a {
    text-decoration: none;
    color: black;
    margin-left: 0px;
    margin: 2px 5px;
    font-size: 13px;
}


/*works*/

.way {
    margin-top: 15px;
    height: 30px;
    border-bottom: 1px solid black;
}

.way div {
    float: left;
}

.way div:nth-child(2) {
    margin-left: 60px;
}

.way div:nth-child(2) a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}


/*book*/

.letter {
    width: 1200px;
    height: 1350px;
}

.letter:nth-child(2) {
    display: none;
}

.letter div {
    float: left;
}

.abook:nth-child(n) {
    box-shadow: 1px 1px 50px rgb(238, 206, 206);
    width: 200px;
    height: 300px;
    margin: 30px 100px 0px 0px;
    background: #2b3134;
    transition: all 500ms ease;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateY(20deg);
}

.abook:hover {
    box-shadow: 200px 0 1px rgb(0, 0, 0) inset;
    cursor: pointer;
    transform: perspective(800px) rotateY(0deg);
}

.abook a {
    color: white;
}

.abook img {
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    height: 150px;
    transition: all 500ms ease;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateY(-0deg);
}

.abook img:hover {
    transform: perspective(800px) rotateY(0deg);
}

.abook div {
    float: left;
}

.letter1,
body .letter2 {
    width: 100px;
    height: 150px;
    margin-right: 0px;
}

.letter2 p {
    text-align: center;
    color: #acacac;
}

.letter2 a {
    font: bold;
}

.letter2 p:nth-child(1) {
    font: bold;
}

.letter p:nth-child(3) {
    font-size: 13px;
    color: #d32f2f;
}

.letter2 p:nth-child(1) .letter3 {
    width: 200px;
    height: 150px;
}

.letter3 p {
    margin: 20px 10px;
    color: #acacac;
    font-size: 13px;
}


/*number*/

.number {
    width: 650px;
    height: 50px;
    margin: 10px auto;
}

.number li {
    text-align: center;
    width: 60px;
    border: 1px solid white;
    list-style: none;
    float: left;
    margin-left: 0px;
}

.number li:hover {
    color: white;
    background: #d32f2f;
    border: 1px solid #d32f2f;
}

.number a:hover {
    color: white;
}